body{
	
	background-color: 	#7FFFD4;

}

#perviy{
	
	font-size: 24px;
	
}

#vtoroy{
	
	font-size: 24px;
	
}
#zag{
	border: 2px solid blue;
	padding:50px;
	background-color:	#E0FFFF;
}
#zag{
	border: 2px solid blue;
	padding:20px;
	background-color:	#E0FFFF;
}

